* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 3.125rem;
<<<<<<< HEAD
=======
    padding-bottom: 2.5rem;
>>>>>>> cef9a17e7e04065a28316b67f96991b870048570
}

.container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
<<<<<<< HEAD
    max-width: 320px;
    width: 100%;
    padding: 1rem;
    border-radius: 1.25rem;
    box-shadow: 0 1.5rem 1.5rem 0 hsla(0, 0%, 0%, 0.12);
=======
    max-width: 375px;
    width: 100%;
    padding-bottom: 1rem;
    border-radius: 1.25rem;
    box-shadow: 0 4px 4px 0 hsla(0, 0%, 0%, 0.12);
>>>>>>> cef9a17e7e04065a28316b67f96991b870048570
}

.container img {
    width: 288px;
    height: auto;
    border-radius: 0.75rem;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.text h1 {
    font-size: 1.25rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.text p {
    font-size: 0.9375rem;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.attribution {
    font-size: 0.9375rem;
    text-align: center;
<<<<<<< HEAD
=======
    margin-top: 2rem;
>>>>>>> cef9a17e7e04065a28316b67f96991b870048570
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
