* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 3.125rem;
    padding-bottom: 2.5rem;
}

.container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    max-width: 375px;
    width: 100%;
    padding: 1rem;
    border-radius: 1.25rem;
    box-shadow: 0 4px 4px 0 hsla(0, 0%, 0%, 0.12);
}

.container img {
    width: 288px;
    height: auto;
    border-radius: 10px;
}

.text {
    padding: 0 16px 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.text h1 {
    font-size: 22px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.text p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
}

.attribution {
    font-size: 15px;
    text-align: center;
    margin-top: 2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
